// =========================
// █▀▀ █▀█ █░░ █▀█ █▀█ █▀
// █▄▄ █▄█ █▄▄ █▄█ █▀▄ ▄█
// =========================
$background: #282a36;
$current-line: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

$selection-background: #44475a;
$selection-color: #f8f8f2;

$title: #ffffff;
$subtitle: #6272a4;

* {
  all: unset;
  font-family: "Fire Code";
  font-weight: 800;
}

.bar {
  background-color: $background;
}

.left-content {
}

.center-content {
}

.right-content {
}

.cpu_box {
  background-color: $background;
  padding: 0 10;
}

.status_icon {
  font-size: 20;
  margin-right: 5;
}

.cpu_box scale trough {
  all: unset;
  background-color: $red;
  border-radius: 10px;
  min-height: 10px;
  min-width: 110px;
}

.status_revealers {
  background-color: $background;
  color: $red;
  min-height: 30px;
}
